# Introduction to Coding in Python

## Variables of type: string, int, and float

In [12]:
a = "hello world"
b = " how are you doing?"
c = 1
d = 1.0

In [13]:
type(a)

str

### Questions or Variables:

#### What are the variable "types" of b, c, and d? (Determine this by following the method demonstrated above to determine the variable "type" of a).

b = str or string type

c = int or integer type

d = float or floating point number (ie decimal) type

#### What does this tell us about the difference between an "int" and a "float" in Python?

int variables don't have any decimals

### Converting between variable types

#### Converting to an integer

In [14]:
int(d)

1

#### Converting to a float

In [15]:
float(c)

1.0

#### Converting to a string

In [16]:
str(c)

'1'

#### However, you can't do this for all variable types, for example....

In [17]:
int(a)

ValueError: invalid literal for int() with base 10: 'hello world'

#### Challenge: Can you think of a variable of type string where you could use the int operator to convert it to a string? (hint: think about the operation str(1) and what that produces)

In [18]:
int('1000')

1000

## Addition

In [19]:
a + b

'hello world how are you doing?'

In [20]:
c + d

2.0

#### Define your own variables, such that you can sum 5 different combinations of variables and get 10

In [21]:
e = 4
r = 6
l = 2

In [22]:
e + r

10

In [23]:
e + l + e

10

In [24]:
l+l+l+l+l

10

In [25]:
l+l+l+e

10

In [26]:
r+l+l

10

## Print Statements

#### printing strings

In [27]:
print("hello world")
print(a)

hello world
hello world

#### printing integers

In [28]:
print(1+1.0)
print(c+d)

2.0
2.0

#### printing strings of integers

In [29]:
print(str(c)+str(d))
print(str(d)+str(c))

11.0
1.01

#### Now try printing the following, using variables a, b, c, and d:
##### "hello world how are you doing? 1 + 1.0 = 2 and str(1) + str(1.0) = 11.0"

In [31]:
print(a+b+str(c)+" + " +str(d)+" = "+str(int(c+d))+" and str("+str(c)+") + str(" + str(d) + ") = "+ str(c)+str(d))

hello world how are you doing?1 + 1.0 = 2 and str(1) + str(1.0) = 11.0

In [ ]:
a = [1,2,3,4,5]
print (5*a)

## Plotting

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [33]:
x = np.linspace(0, 10, 101)# generate an evenly sampled X axis (not strictly necessary for this problem).
print(x)

[ 0.   0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  1.   1.1  1.2  1.3
  1.4  1.5  1.6  1.7  1.8  1.9  2.   2.1  2.2  2.3  2.4  2.5  2.6  2.7
  2.8  2.9  3.   3.1  3.2  3.3  3.4  3.5  3.6  3.7  3.8  3.9  4.   4.1
  4.2  4.3  4.4  4.5  4.6  4.7  4.8  4.9  5.   5.1  5.2  5.3  5.4  5.5
  5.6  5.7  5.8  5.9  6.   6.1  6.2  6.3  6.4  6.5  6.6  6.7  6.8  6.9
  7.   7.1  7.2  7.3  7.4  7.5  7.6  7.7  7.8  7.9  8.   8.1  8.2  8.3
  8.4  8.5  8.6  8.7  8.8  8.9  9.   9.1  9.2  9.3  9.4  9.5  9.6  9.7
  9.8  9.9 10. ]

In [ ]:
slope_true = 1.5
intercept_true = 4

In [ ]:
y = slope_true * x + intercept_true #Calculate the y values based on the linear model

In [ ]:
plt.plot(x,y,'o')